<div class="section">
    <div class="user-box">
        {% if usuari.cover and usuari.avatar %}
            <div class="with-cover with-avatar">
        {% elif usuari.cover != '' %}
            <div class="with-cover">
        {% elif usuari.avatar %}
            <div class="with-avatar">
        {% else %}
            <div class="">
        {% endif %}

        {% if usuari.cover %}
            <img height="200" width="100%" class="cover"
                 src={{ usuari.cover }} alt="@{{ usuari.username }}@kbin.social">
        {% endif %}
            <div class="user-main" id="content">
                <div>
                    <div class="row">
                        <figure>
                            {% if usuari.avatar %}
                                <img width="100" height="100" style="max-width: 100px; max-height: 100px;"
                                     src={{ usuari.avatar }} alt="@{{ usuari.username }}@kbin.social">
                            {% endif %}
                        </figure>
                        <h1>{{ usuari.username }}</h1>
                        <small>@{{ usuari.username }}@kbin.social</small>
                        <small>{% if user.email == usuari.email %}{{ usuari.api_key }}{% endif %}</small>
                    </div>
                </div>
            </div>
            {% if usuari.description %}
                <div class="about">
                    <div class="content">
                        <p>{{ usuari.description }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>


