{% load static %}
<!DOCTYPE html>
<html lang="en" style="font-size: 100%">
<head>
    <!--No cal posar type="text/css" donat que a HTML5 ja no s'utilitza
        i el valor predeterminat de type és text/css -->
    <style>
        .turbo-progress-bar {
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            height: 3px;
            background: #0076ff;
            z-index: 2147483647;
            transition: width 300ms ease-out,
            opacity 150ms 150ms ease-in;
            transform: translate3d(0, 0, 0);
        }
    </style>
    <title>Profile - {{ profile.username }} - kbin.social</title>
    <link rel="icon" href="{% static '/ico/favicon.ico' %}" sizes="any">
    <link rel="stylesheet" href="{% static '/css/824.b4cc3385.css' %}" data-turbo-track="reload">
    <link rel="stylesheet" href="{% static '/css/app.910c0aab.css' %}" data-turbo-track="reload">
</head>
<body class="theme--light" data-controller="kbin notifications" data-turbo="false">
<!-- TODO: es perd inici de sessio -->
{% include 'base.html' %}
<div id="middle" class="page-user page-user-overview">
    <div class="kbin-container">
        <main id="main" data-controller="lightbox timeago" class="">
            {% include 'section_user.html' %}
            <!-- Options top -->
            <aside class="options" id="options">
                <div></div>
                <menu class="options__main" style="align-items: center; justify-content: center;">
                    <li><a href="/u/{{ profile.username }}" class="{% if selected == "threads" %}active{% endif %}">
                        <span style="vertical-align: inherit;">threads ({{ n_threads }})</span>
                    </a></li>
                    <li><a href="/u/{{ profile.username }}/commented" class="{% if selected == "com" %}active{% endif %}">
                        <span style="vertical-align: inherit;">comments ({{ n_com }})</span>
                    </a></li>
                    {% if user.is_authenticated and user.email == profile.email %}
                        <li><a href="/u/{{ profile.username }}/boosts"
                               class="{% if selected == "boost" %}active{% endif %}">
                            <span style="vertical-align: inherit;">boosts ({{ n_boosts }})</span>
                        </a></li>
                    {% endif %}
                </menu>
            </aside>
            {% if selected != "com" %}
                <!-- Options -->
                <aside class="options options--top" id="options" style="align-items: center; justify-content: center;">
                    <div></div>
                    <menu class="options__main no-scroll">
                        <li><a href="/u/{{ profile.username }}/{%if selected != "threads"%}boosts/{% endif %}top/{{ active_filter }}"
                               class="{% if active_option == 'top' %}active{% endif %}">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                top
                            </font></font>
                        </a></li>
                        <li><a href="/u/{{ profile.username }}/{%if selected != "threads"%}boosts/{% endif %}newest/{{ active_filter }}"
                               class="{% if active_option == 'newest' %}active{% endif %}">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                newest
                            </font></font>
                        </a></li>
                        <li><a href="/u/{{ profile.username }}/{%if selected != "threads"%}boosts/{% endif %}com/{{ active_filter }}"
                               class="{% if active_option == 'com' %}active{% endif %}">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                commented
                            </font></font>
                        </a></li>
                    </menu>
                    <menu class="options__filters">
                        <li class="dropdown">
                            <button aria-label="Filtrar per tipus" title="Filtrar per tipus"><i
                                    class="fa-solid fa-filter"></i>
                                Filter by type
                            </button>
                            <ul class="dropdown__menu">
                                <li>
                                    <a href="/u/{{ profile.username }}/{{ active_option }}/tot" class="{% if active_filter == "tot" %}active{% endif %}">
                                        Tot
                                    </a>
                                </li>
                                <li>
                                    <a href="/u/{{ profile.username }}/{{ active_option }}/links" class="{% if active_filter == "links" %}active{% endif %}">
                                        <!--     <a href="//Links "class=""> -->
                                        Links
                                    </a>
                                </li>
                                <li>
                                    <a href="/u/{{ profile.username }}/{{ active_option }}/threads" class="{% if active_filter == "threads" %}active{% endif %}">
                                        Threads
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </menu>
                </aside>

            {% else %}
                <aside class="options options--top" id="options" style="align-items: center; justify-content: center;">
                    <div></div>
                    <menu class="options__main no-scroll">
                        <li><a href="/u/{{ profile.username }}/commented/top/{{ active_filter }}"
                               class="{% if active_option == 'top' %}active{% endif %}">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                top
                            </font></font>
                        </a></li>
                        <li><a href="/u/{{ profile.username }}/commented/newest/{{ active_filter }}"
                               class="{% if active_option == 'newest' %}active{% endif %}">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                newest
                            </font></font>
                        </a></li>
                        <li><a href="/u/{{ profile.username }}/commented/oldest/{{ active_filter }}"
                               class="{% if active_option == 'oldest' %}active{% endif %}">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                oldest
                            </font></font>
                        </a></li>
                    </menu>
                </aside>
            {% endif %}
            <div id="content" class="overview subjects comments-tree comments show-comment-avatar show-post-avatar">
                {% if selected != "com" %}
                    {% for thread in threads %}
                        {% include 'show_threads.html' %}
                    {% endfor %}
                {% else %}
                    {% for comment,thread in pare %}
                        {% include 'un_coment.html' %}
                    {% endfor %}
                {% endif %}
            </div>
        </main>
    </div>
</div>
</body>
</html>